@media screen and (max-width: 1450px) {
  .bottom {
    width: 557px;
    margin-top: 55px;
  }
}
@media screen and (max-width: 1286px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__list ul:last-child {
    margin-right: 0px;
  }

  .footer__block {
    margin-bottom: 60px;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__title {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .app__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .app__photo {
    position: relative;
    left: 0px;
  }

  .app__title {
    margin-left: 0px;
    margin-top: 30px;
    max-width: 625px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1196px) {
  .details__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .details__title {
    margin-top: 80px;
    margin-right: 0px;
  }

  .advantage__items {
    max-width: 800px;
  }

  .header__links {
    margin-left: 156px;
    margin-right: 102px;
  }
}
@media screen and (max-width: 1136px) {
  .menu__titlework {
    margin-right: 0px;
    max-width: 340px;
    margin: 50px 0px;
  }

  .menu__workers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__info {
    margin-bottom: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .menu__info:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__info:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__info .menu__title {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1021px) {
  .header__links {
    margin-left: 72px;
    margin-right: 72px;
  }
}
@media screen and (max-width: 951px) {
  .header__title .header__text {
    margin-bottom: 20px;
    font-size: 47.33px;
    line-height: 110.5%;
  }

  .details__text {
    font-family: HindMadurai-Bold sans-serif;
    font-size: 40.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 10px;
  }

  .menu__titletop {
    font-size: 40.2px;
    margin-bottom: 35px;
  }

  .app__text {
    font-size: 40.2px;
    margin-bottom: 15px;
  }

  .question__title {
    font-size: 37px;
    margin-bottom: 20px;
    line-height: 42px;
  }
}
@media screen and (max-width: 916px) {
  .menu__nav ul a {
    margin: 0px 10px;
    font-size: 16px;
  }

  .header__link a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 816px) {
  .header__links {
    margin-left: 42px;
    margin-right: 42px;
  }

  .menu__nav ul a {
    margin: 0px 7px;
    font-size: 15px;
  }

  .header__link a {
    margin-right: 15px;
  }

  .question__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .question__input input {
    padding-left: 0px;
    margin-bottom: 20px;
  }

  .header__title .header__text {
    margin-bottom: 17px;
    font-size: 40.33px;
    line-height: 110.5%;
  }

  .details__text {
    font-family: HindMadurai-Bold sans-serif;
    font-size: 35.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 10px;
  }

  .menu__titletop {
    font-size: 35.2px;
    margin-bottom: 15px;
  }

  .app__text {
    font-size: 35.2px;
    margin-bottom: 15px;
  }

  .question__title {
    font-size: 31px;
    margin-bottom: 20px;
    line-height: 42px;
  }
}
@media screen and (max-width: 716px) {
  .header__title {
    margin-top: 100px;
  }

  .header__nav {
    position: fixed;
    background: #fff;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 20px;
  }

  .header__links {
    display: none;
  }

  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 669px) {
  .question__input input {
    width: 337px;
    height: 74px;
    padding-left: 0px;
  }

  .header__photo {
    display: none;
  }

  .details__photo img {
    width: 455px;
    height: 456.8px;
  }

  .app__title {
    width: 95%;
  }

  .header__title .header__text {
    margin-bottom: 17px;
    font-size: 35.33px;
    line-height: 90.5%;
  }

  .details__text {
    font-family: HindMadurai-Bold sans-serif;
    font-size: 30.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 10px;
  }

  .menu__titletop {
    font-size: 30.2px;
    margin-bottom: 5px;
  }

  .app__text {
    font-size: 30.2px;
    margin-bottom: 15px;
  }

  .question__title {
    font-size: 31px;
    margin-bottom: 15px;
    line-height: 42px;
  }

  .header__title {
    width: 90%;
    margin-top: 89px;
  }

  .header__title .header__paragraph {
    width: auto;
  }

  .menu__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__nav ul li {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 638px) {
  .menu__photo img {
    width: 480px;
    height: 315px;
  }
}
@media screen and (max-width: 582px) {
  .menu__title--left {
    margin-right: 0px;
  }

  .details__photo img {
    width: 355px;
    height: 456.8px;
  }

  .menu__photo img {
    width: 380px;
    height: 315px;
  }

  .menu__info {
    width: 95%;
  }

  .menu__workers {
    width: 95%;
  }

  .footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__icontext {
    max-width: 207px;
    margin-bottom: 50px;
    margin-right: 0px;
  }

  .footer__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 535px) {
  .details__title {
    width: 95%;
  }

  .menu__title {
    margin-left: 0px;
    width: 90%;
  }

  .menu__title--left {
    margin-left: 0px;
    width: 90%;
  }

  .footer__title {
    text-align: center;
    margin-bottom: 25px;
  }

  .footer__pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__send {
    margin-bottom: 35px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__send a {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 402px) {
  .app__download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .app__download .app__item:last-child {
    margin-left: 10px;
  }

  .question__input input {
    width: 307px;
    height: 74px;
    padding-left: 0px;
  }

  .details__photo img {
    width: 305px;
    height: 456.8px;
  }

  .menu__photo img {
    width: 320px;
    height: 315px;
  }

  .menu__top {
    margin-top: 20px;
  }

  .header__title .header__text {
    margin-bottom: 17px;
    font-size: 30.33px;
    line-height: normal;
  }

  .details__text {
    font-size: 25.2px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .menu__titletop {
    font-size: 25.2px;
    margin-bottom: 5px;
    line-height: normal;
  }

  .app__text {
    font-size: 25.2px;
    margin-bottom: 15px;
    line-height: normal;
  }

  .question__title {
    width: 85%;
    font-size: 25px;
    margin-bottom: 15px;
    line-height: normal;
  }

  .footer__list ul:first-child {
    margin-right: 62px;
  }

  .footer__send input {
    width: 308px;
    height: 55px;
  }
}